@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* HEADER */

.main-header {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-header__logo {
  position: absolute;
}

.navigation__list {
  list-style: none;
  margin: 0;
  margin-left: 170px;
  display: flex;
}

.navigation__item {
  padding: 20px 16px;
}

.navigation__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.user-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__user-menu {
  margin: 0 20px 0 auto;
}

.user-menu__link {
  text-decoration: none;
}

.user-menu__count-favorite {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: block;
  font-family: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;
  align-content: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.main-header__button-link {
  align-self: center;
  width: 160px;
}

.button--bg-brown {
  background-color: #756157;
}

/* FOOTER */

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.social {
  list-style: none;
}

.main-footer__contacts-phone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

/* INDEX */

.hero {
  position: relative;
  overflow: hidden;
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 78px;
  text-align: center;
  background: url(../images/background-hero.jpg) no-repeat;
  background-size: cover;
  background-color: #333333;
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background: url(../images/svg/background-mask.svg) no-repeat bottom center;
  background-size: cover;
}

.section-head {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 630px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  max-width: 660px;
}

.advantages {
  text-align: center;
  padding-top: 69px;
}

.advantages__section-head {
  margin-bottom: 25px;
}

.advantages__section-description {
  margin-bottom: 90px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 103px 85px;
}

.advantages__item--wide {
  width: 1200px;
  background-color: #82B3D3;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0;
}

.advantages__item:nth-child(even):not(.advantages__item--wide) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:nth-child(odd):not(.advantages__item--wide) {
  background-color: rgba(131, 179, 211, 0.20);
}

.advantages__wrapper-item {
  padding: 102px 85px;
}

.advantages__photo {
  display: block;
}

.advantages__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-bottom: 60px;
}

.advantages__description {
  margin: 0;
}

.advantages__item--wide .advantages__title {
  color: #ffffff;
}

.services {
  text-align: center;
  padding-top: 64px;
}

.services__section-head {
  margin-bottom: 20px;
}

.services__section-description {
  margin-bottom: 64px;
}

.services__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 85px;
  width: 400px;
}

.services__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services__title {
  text-transform: uppercase;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.search {
  text-align: center;
  padding: 96px 0;
}

.search__section-head {
  margin-bottom: 20px;
}

.search__section-description {
  margin-bottom: 54px;
}

.search__button-modal {
  margin: 0 auto;
  width: 376px;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription--with-background {
  background: url("../images/background-subscribe.jpg") no-repeat,
  #82B3D3;
}

.section-description--color-white,
.section-head--color-white {
  color: #ffffff;
}

.subscription__section-head {
  margin-bottom: 20px;
}

.subscription__section-description {
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form__input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 452px;
  padding: 12px 20px;
}

.subscribe-form__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
}

.button--bg-blue {
  background-color: #82B3D3;
}

/* CATALOG */

.catalog-filters {
  padding: 35px 70px 70px;
  background: url("../images/background-form.jpg") no-repeat,
  #82B3D3;
  color: #ffffff;
}

.catalog-filters__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.catalog-filters__breadcrumbs {
  margin-bottom: 40px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.search-form__legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.search-form__label {
  line-height: 23px;
}

.search-form__label:not(:last-child){
  margin-bottom: 16px;
}

.search-form__input {
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
}

.search-form__buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 32px;
}

.search-form__button {
  width: 191px;
}

.button--reset {
  background-color: transparent;
}

.catalog
{
  padding: 50px 70px 60px;
}

.catalog__sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog_result {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.catalog__sort-select {
  width: 292px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  color: #333333;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  appearance: none;
  padding: 12px 40px 12px 20px;
}

.switch {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.switch__item {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.catalog__sort-select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.catalog__hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotel-card__link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.hotel-card__photo {
  margin-bottom: 16px;
}

.hotel-card__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card__type-house {
  margin: 0;
}

.hotel-card__price {
  margin: 0;
  text-align: right;
}

.button--bg-green {
  background-color: #7DB54F;
}

.hotel-card__button-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  min-height: 37px;
}

.hotel-card__button-favorite {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  min-height: 37px;
}

.hotel-card__stars {
  width: 106px;
  min-height: 18px;
  align-self: center;
  background-image: url("../images/svg/star.svg");
  background-repeat: space;
  margin: 0;
}

.hotel-card__stars--stars-1 {
  width: 18px;
}

.hotel-card__stars--stars-2 {
  width: 42px;
}

.hotel-card__stars--stars-3 {
  width: 65px;
}

.hotel-card__stars--stars-4 {
  width: 89px;
}

.hotel-card__stars--stars-5 {
  width: 106px;
}

.hotel-card__rating {
  margin: 0;
  display: block;
  text-transform: uppercase;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  padding: 8px 10px;
}

.catalog__pagination {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.pagination {
  list-style: none;
  display: flex;
  gap: 8px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  width: 60px;
  height: 60px;
}

.pagination__link--dots {
  color: #000000;
  background-color: #ffffff;
}

.pagination__link--current {
  background-color: #F2F2F2;
  color: #000000
}
